.Accordion {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.Accordion img {
  position: absolute;
  top: -15rem;
  right: -7rem;
  width: 20rem;
  height: auto;
}

.Accordion--item {
  position: relative;
  padding: 5rem;
  background: transparent;
  border-bottom: 2px solid #000;
  cursor: pointer;
  outline: none;
  width: 100%;
}
.Accordion--item:nth-of-type(1) {
  border-top: 2px solid #000;
}

.Accordion--item h2 {
  cursor: pointer;
  display: block;
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-weight: bold;
  pointer-events: none;
}

.Accordion--item svg {
  float: right;
  transition: ease all 0.3s;
}

.Accordion--item.active svg {
  transform: rotate(-180deg);
}

.Accordion--item .description {
  padding-top: 0;
  opacity: 0;
  transition: ease all 0.3s;
  max-height: 0;
}

.Accordion--item.active .description {
  padding: 3rem 0 1rem 0;
  opacity: 1;
  max-height: 100rem;
}
