.BakkedHeader {
  padding: 0 0 10vh 0;
  height: 100%;
  width: 100vw;
}
.BakkedHeader--Slider {
  height: 80vh;
  width: 100vw;
}
.BakkedHeader .BackgroundImage {
  opacity: 0.9;
  bottom: 0;
  background-position: top center;
  width: 100%;
  height: auto;
}

.BakkedHeader-large {
  padding: 20rem 0;
}

.BakkedHeader--Title {
  font-size: 9rem;
  margin-bottom: 0;
  text-align: center;
  font-family: inherit;
}
.BakkedHeader--Title img {
  width: 50%;
  max-width: 420px;
}
.BakkedHeader--Subtitle {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: inherit;
  font-family: inherit;
  width: 50%;
}
.BakkedHeader--Subtitle img {
  width: 50%;
}
.BakkedHeader--Logo {
  height: 200px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin: 50px 0 0 0;
  text-align: center;
}
.BakkedHeader .container {
  animation: fadeIn 0.5s ease-out;
}

#github-link {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
}

[class^='number-slide'],
[class*=' number-slide'] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.bakked-slide1 {
  background: url('../../static/images/bg/masthead.jpg');
  background-position: center center;
  background-size: 100% auto;
}

.bakked-slide2 {
  background: linear-gradient(
      128deg,
      rgba(255, 154, 63, 0.1) 0%,
      rgba(255, 75, 64, 2) 100%
    ),
    url('https://storage.googleapis.com/hellomd-articles/articles/58b4b02310b47e000bb27b62/embedded_images/58b4b02810b47e000bb27b66/Screen_Shot_2017-02-27_at_2.40.18_PM.png'),
    #000;
  background-position: center center;
  background-repeat: no-repeat;
}

.bakked-slide3 {
  background: linear-gradient(
      128deg,
      rgba(189, 255, 83, 0.1) 0%,
      rgba(43, 250, 82, 2) 100%
    ),
    url('https://i.ytimg.com/vi/0YmRrM1lwQA/maxresdefault.jpg'), #000;
  background-position: center center;
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

/* Fader */

.fader {
  height: 50vw;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .fader {
    height: 300px;
  }
}

.fader__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.fader img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

/* Stickers */

.sticker-header-1 {
  width: 154px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  display: block;
  left: 100px;
  margin-top: -40px;
  z-index: 2;
}
.sticker-header-2 {
  width: 559px;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  position: absolute;
  z-index: 1;
  display: block;
  left: 80px;
  margin-top: -200px;
  z-index: 1;
}
.sticker-header-3 {
  width: 225px;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  position: absolute;
  display: block;
  left: 300px;
  margin-top: -100px;
  z-index: 2;
}

@media (max-width: 600px) {
  .BakkedHeader {
    padding: 0;
    height: 70vh;
  }
  .BakkedHeader--Title {
    font-size: 4rem;
  }
  .BakkedHeader-large {
    padding: 12.5rem 0;
  }
  .sticker-header-1 {
    width: 100px;
    left: 25px;
    margin-top: -20px;
  }
  .sticker-header-2 {
    width: 250px;
    overflow: hidden;
    left: 50px;
    margin-top: -80px;
  }
  .sticker-header-3 {
    width: 150px;
    max-width: 100%;
    overflow: hidden;
    left: 200px;
    margin-top: -50px;
    z-index: 2;
  }
}
