/* Marquee */

.BakkedMarquee {
  margin: 0 auto;
  height: 350px;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}
.blend--bg {
  height: 200px;
}
.ticker {
  padding-top: 50px;
  transform: rotate(-3deg) !important;
  width: 120vw;
  margin: 50px 0 0 0;
  left: -20px;
}
.BakkedMarquee--Motion {
  display: inline-block;
  white-space: nowrap;
  background: #000;
  height: 220px;
}
.BakkedMarquee--Motion h1 {
  font-family: var(--font-primary);
  color: #ffffff;
  font-size: 20rem;
  display: inline-block;
  white-space: nowrap;
  width: 200%;
  left: -20px;
  background: #000;
}
.BakkedMarquee--Icon {
  width: 200px;
  height: 200px;
  padding: 0 2rem;
  vertical-align: top;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .BakkedMarquee {
    height: 30vh;
  }
  .BakkedMarquee--Motion {
    height: 120px;
  }
  .BakkedMarquee--Motion h1 {
    font-size: 7rem;
    line-height: 2;
  }
  .BakkedMarquee--Icon {
    width: 120px;
    height: 120px;
    padding: 2rem;
    vertical-align: middle;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
}
