/* Marquee */

.BakkedMarquee {
  margin: 0 auto;
  height: 50vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}
.ticker {
  padding-top: 50px;
  transform: rotate(-3deg) !important;
  width: 120vw;
  margin: 50px 0 0 0;
  left: -20px;
}
.BakkedMarquee--Motion {
  display: inline-block;
  white-space: nowrap;
  background: #000;
  height: 220px;
}
.BakkedMarquee--Motion h1 {
  font-family: var(--font-primary);
  color: #ffffff;
  font-size: 20rem;
  display: inline-block;
  white-space: nowrap;
  width: 120vw;
  left: -20px;
  background: #000;
}

.BakkedMarquee--Inner h1 {
  font-size: 160px;
  line-height: 1.5;
  font-weight: bold;
  color: #ffffff;
}
