.ButtonDispensary {
  background: var(--secondary);
  position: relative;
  transition: ease-in-out all 0.3s;
}
.ButtonDispensary--Icon {
  position: absolute;
  top: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  padding: 0 0 0 5px;
  display: inline-block;
  transition: ease-in-out all 0.3s;
}
