.FooterNote {
  width: 100vw;
  height: 400px;
  display: block;
}
.FooterNote--Image--Container {
  overflow: hidden;
}
.FooterNote--Image--Block {
  min-height: 400px;
}
.FooterNote--Image {
  height: 400px;
  width: 100%;
  background-size: 100% 100%;
}
.FooterNote--Image:hover {
  background-size: 120%;
}
