.Loilpoints {
  width: 100vw;
  bottom: 0;
  padding: 0;
  margin: 0;
}
.Insta-Format img {
  width: 100%;
  height: auto;
  padding: 1rem;
  max-width: 25%;
}
.text-success {
  color: green;
  font-weight: 700;
  text-transform: uppercase;
}
.text-danger {
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .Loilpoints {
    padding: 0;
    margin: 0;
  }
}
