.PageHeader {
  color: var(--secondary);
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.99;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 8rem;

  line-height: 1.2;
  margin-bottom: 0;
  text-align: center;
  font-family: var(--font-primary);
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  font-family: var(--font-secondary);
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
