.StickerBreaker {
  padding-top: 50px;
  height: 200px;
  position: relative;
  margin: 0 auto;
}
.StickerBreaker--line {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  height: 2px;
  background: #fff;
  z-index: 1;
}
.StickerBreaker--sticker1 {
  position: absolute;
  display: block;
  z-index: 1;
  margin-top: -20px;
  right: 20%;
  width: 300px;
}
.StickerBreaker--sticker2 {
  position: absolute;
  display: block;
  z-index: 0;
  margin-top: 20px;
  left: 20%;
  width: 125px;
}

@media (max-width: 768px) {
  .StickerBreaker {
    height: 200px;
    position: relative;
    margin: 0 auto;
  }
  .StickerBreaker--sticker1 {
    width: 50vw;
    right: 75px;
    margin-top: -120px;
    overflow: hidden;
  }
  .StickerBreaker--sticker2 {
    width: 100px;
    overflow: hidden;
    left: 80px;
    margin-top: 30px;
  }
}
