.StickerProductSection {
  height: 600px;
  padding: 3rem 0;
}
/* Stickers */

.StickerProductSection--sticker--1 {
  width: 100px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  display: block;
  left: 25%;
  z-index: 5;
}
.StickerProductSection--sticker--2 {
  width: 200px;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  position: absolute;
  display: block;
  margin-top: 50px;
  right: 20%;
  z-index: 5;
}
.StickerProductSection--sticker--3 {
  width: 200px;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  position: absolute;
  z-index: 1;
  display: block;
  margin-top: 200px;
  left: 25%;
  z-index: 5;
}

.StickerProductSection--sticker--4 {
  width: 200px;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  position: absolute;
  display: block;
  margin-top: 400px;
  right: 25%;
  z-index: 5;
}

@media (max-width: 768px) {
  .StickerProductSection--sticker--1 {
    width: 50px;
  }
  .StickerProductSection--sticker--2 {
    width: 200px;
  }
  .StickerProductSection--sticker--3 {
    width: 100px;
  }
  .StickerProductSection--sticker--4 {
    width: 100px;
  }
}
